version: '3.8'
services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    volumes:
      - mongo_data:/data/db
    networks:
      - mean-network

  backend:
    build:
      context: ./backend
      dockerfile: crud-dockfile
    container_name: backend
    restart: always
    environment:
      - MONGO_URI=mongodb://mongo:27017/meandb
    depends_on:
      - mongo
    networks:
      - mean-network

  frontend:
    build:
      context: ./frontend
      dockerfile: crud-dockerfile
    container_name: frontend
    restart: always
    depends_on:
      - backend
    networks:
      - mean-network

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx-proxy.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend
    networks:
      - mean-network

volumes:
  mongo_data:

networks:
  mean-network:
